.row-nav{
    margin: 0px auto;
    padding: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 100px;

}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px  double;
    min-height: 400px;
}

.footer{
    background-color: #f5ec9f;
    margin: 0% auto;
    padding: 20px 0px 20px 0px;
}

.jumbotrom{
    padding: 70px 30px 70px 30px;
    margin: 0 px auto;
    background: chartreuse;
    color:darkgray;
}


.address{
    font-size: 80%;
    margin: 0 px auto;
    color: darkgray;
}

.navbar{
    background-color:rgb(196, 183, 166);
}
.footer{
    background-color:rgb(196, 183, 166);
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

